#----------------POSTGRES-----------
POSTGRES_DB=quickcart
POSTGRES_USER=quickcart
POSTGRES_PASSWORD=change_me
POSTGRES_PORT=5432
DB_URL=jdbc:postgresql://localhost:5432/quickcart
DB_USERNAME=quickcart
DB_PASSWORD=change_me

#----------------AUTH-----------
JWT_SECRET=change_me_to_a_long_random_local_secret
JWT_EXPIRY=12h

#----------------SERVER-----------
PORT=8081
